/* ===== Shared Helpers ===== */
.flex_center, .Tender_Grid .Selected_actions .total, .Tender_Grid .status_Grid_point, .Tender_Grid .status_Grid, .Tender_Grid .header_Item,
.Tender_Grid .row_Item {
  @apply flex items-center justify-center;
}

/* ===== Shared Grid Blocks ===== */
.Tender_Grid .data_Grid .not_Data {
  @apply h-full flex flex-col gap-8 justify-center items-center;
}
.Tender_Grid .data_Grid .not_Data .icon {
  @apply w-48;
}
.Tender_Grid .data_Grid .not_Data .icon svg {
  @apply w-full h-auto;
}
.Tender_Grid .data_Grid .not_Data .title {
  @apply text-primary dark:text-primaryDark font-semibold text-xl;
}

.Tender_Grid .data_Grid .default_Data, .Tender_Grid .data_Grid .fixed_Data {
  @apply flex flex-nowrap flex-col;
}

.Tender_Grid .data_Grid .scrollable-container {
  @apply w-full h-max;
}

.input_Search_Grid.form-group_iconSearch input {
  @apply border-0 min-h-10 rounded-lg;
}

/* ===== Main Component ===== */
.Tender_Grid {
  @apply overflow-hidden;
  /* ====   Normal Data Grid ==== */
  /* ====   Selector Grid ==== */
  /* ====  Custom Grid ==== */
  /* ===== Header ===== */
  /* ===== Row + Header Items ===== */
  /* ===== Status Grid ===== */
  /* ===== Status Grid Point ===== */
  /* ===== Dropdown ===== */
  /* ===== Selected Actions ===== */
  /* ===== Mobile Grid ===== */
  /* ===== Pagination Grid ===== */
  /* ===== Scroll Grid ===== */
}
.Tender_Grid .grid_footer {
  @apply flex w-full flex-nowrap rounded-md;
}
.Tender_Grid .data_Grid {
  @apply h-[22rem] xl:h-[28rem] 2xl:h-[32rem] overflow-hidden overflow-y-auto;
}
.Tender_Grid .data_Grid .default_Data {
  @apply min-w-full;
}
.Tender_Grid .data_Grid_Selector {
  @apply h-[calc(100vh-300px)] overflow-hidden overflow-y-auto;
}
.Tender_Grid .data_Grid_custom {
  @apply h-[14.125rem] overflow-hidden overflow-y-auto;
}
.Tender_Grid .header_Grid {
  @apply mb-0.5;
}
.Tender_Grid .header_Grid .container_Header_Grid {
  @apply flex flex-nowrap bg-bgWhite dark:bg-bgWhiteDark rounded-md;
}
.Tender_Grid .header_Grid .scrollable_container {
  @apply w-full overflow-hidden relative;
}
.Tender_Grid .header_Grid .default_Columns {
  @apply flex min-w-full;
}
.Tender_Grid .header_Item {
  @apply h-9 w-9 cursor-pointer transition-colors rounded-sm;
}
.Tender_Grid .header_Item:hover {
  @apply bg-bgColor/30 dark:bg-bgColorDark/30;
}
.Tender_Grid .row_Card_action_list,
.Tender_Grid .header_Item,
.Tender_Grid .row_Item {
  @apply h-9;
}
.Tender_Grid .header_Item,
.Tender_Grid .row_Item {
  @apply flex-nowrap px-1.5;
}
.Tender_Grid .header_Item.justify_start,
.Tender_Grid .row_Item.justify_start {
  @apply justify-start;
}
.Tender_Grid .header_Item.row_Item_start,
.Tender_Grid .row_Item.row_Item_start {
  @apply justify-start;
}
.Tender_Grid .header_Item .title_header,
.Tender_Grid .row_Item .title_header {
  @apply text-textColor dark:text-textColorDark font-medium text-xs;
}
.Tender_Grid .header_Item .text_row,
.Tender_Grid .row_Item .text_row {
  @apply text-titleColor dark:text-titleColorDark text-ellipsis line-clamp-1 text-center text-xs;
}
.Tender_Grid .header_Item .text_row .link_Icon,
.Tender_Grid .row_Item .text_row .link_Icon {
  @apply flex items-center gap-1.5 font-medium;
}
.Tender_Grid .header_Item .text_row .link_Icon:hover,
.Tender_Grid .row_Item .text_row .link_Icon:hover {
  @apply text-primary dark:text-primaryDark;
}
.Tender_Grid .header_Item .text_row .link_Icon:hover .icon_data,
.Tender_Grid .row_Item .text_row .link_Icon:hover .icon_data {
  @apply text-primary dark:text-primaryDark;
}
.Tender_Grid .header_Item .text_row .icon_data,
.Tender_Grid .row_Item .text_row .icon_data {
  @apply w-3.5 h-3.5 text-textColor dark:text-textColorDark;
}
.Tender_Grid .header_Item .text_row .icon_data svg,
.Tender_Grid .row_Item .text_row .icon_data svg {
  @apply w-full h-full;
}
.Tender_Grid .row_Card_action_list {
  @apply flex justify-end px-2 py-1 bg-bgWhite dark:bg-bgWhiteDark rounded-e-md mb-1 relative transition-colors;
}
.Tender_Grid .row_Card_action_list.selected {
  @apply bg-primary dark:bg-primaryDark bg-opacity-20 dark:bg-opacity-20;
}
.Tender_Grid .row_Card_action_list:hover:not(.selected) {
  @apply bg-bgColor/50 dark:bg-bgColorDark/50;
}
.Tender_Grid .row_Grid {
  @apply flex bg-bgWhite dark:bg-bgWhiteDark mb-1 transition-colors;
  /* ===== Open New Tab Icon ===== */
}
.Tender_Grid .row_Grid:hover {
  @apply bg-bgColor/30 dark:bg-bgColorDark/30;
}
.Tender_Grid .row_Grid .link_Icon {
  @apply flex gap-1.5 font-medium items-center text-titleColor dark:text-titleColorDark;
}
.Tender_Grid .row_Grid .link_Icon .icon {
  @apply text-textColor dark:text-textColorDark w-4 h-4;
}
.Tender_Grid .row_Grid .link_Icon .icon svg {
  @apply w-full h-full;
}
.Tender_Grid .row_Grid .link_Icon:hover {
  @apply text-primary dark:text-primaryDark;
}
.Tender_Grid .row_Grid .link_Icon:hover .icon {
  @apply text-titleColor dark:text-titleColorDark;
}
.Tender_Grid .row_Grid .cell-avatar {
  @apply flex items-center gap-2;
}
.Tender_Grid .row_Grid .cell-avatar .cell-avatar__image {
  @apply w-7 h-7 bg-bgColor dark:bg-bgColorDark flex items-center justify-center rounded-full overflow-hidden p-0.5;
}
.Tender_Grid .row_Grid .cell-avatar .cell-avatar__image .cell-avatar__fallback {
  @apply w-full h-full rounded-full flex items-center justify-center;
}
.Tender_Grid .row_Grid .cell-avatar .cell-avatar__image .cell-avatar__fallback .cell-avatar__initials {
  @apply text-[10px] font-semibold text-titleColor dark:text-titleColorDark;
}
.Tender_Grid .row_Grid .cell-avatar .cell-avatar__content {
  @apply flex w-[calc(100%-36px)] flex-col items-start;
}
.Tender_Grid .row_Grid .cell-avatar .cell-avatar__content .cell-avatar__title {
  @apply font-semibold text-titleColor text-xs dark:text-titleColorDark leading-tight;
}
.Tender_Grid .row_Grid .cell-avatar .cell-avatar__content .cell-avatar__subtitle {
  @apply text-textColor text-[10px] dark:text-textColorDark font-medium leading-tight;
}
.Tender_Grid .row_Grid .cell-avatar:hover .cell-avatar__content .cell-avatar__title {
  @apply text-primary dark:text-primaryDark;
}
.Tender_Grid .row_Grid .cell-avatar:hover .cell-avatar__content .cell-avatar__subtitle {
  @apply text-titleColor dark:text-titleColorDark;
}
.Tender_Grid .row_Grid .icon_action_row {
  @apply flex w-8 justify-center items-center;
}
.Tender_Grid .row_Grid .icon_action_row svg {
  @apply w-4 h-4 text-textColor dark:text-textColorDark hover:text-primary dark:hover:text-primaryDark;
}
.Tender_Grid .row_Grid .icon_action_row.active svg {
  @apply text-primary dark:text-primaryDark;
}
.Tender_Grid .row_Grid.selected {
  @apply bg-primary dark:bg-primaryDark bg-opacity-25 dark:bg-opacity-25;
}
.Tender_Grid .status_Grid {
  @apply rounded bg-opacity-10 bg-gray-400 px-2 py-0.5;
}
.Tender_Grid .status_Grid .status_text {
  @apply text-gray-400 leading-normal text-[10px] font-semibold uppercase
             text-ellipsis line-clamp-1 max-w-full text-center;
}
.Tender_Grid .status_Grid.state_Success {
  @apply bg-success bg-opacity-10;
}
.Tender_Grid .status_Grid.state_Success .status_text {
  @apply text-success;
}
.Tender_Grid .status_Grid.state_Error {
  @apply bg-error dark:bg-errorDark bg-opacity-10 dark:bg-opacity-10;
}
.Tender_Grid .status_Grid.state_Error .status_text {
  @apply text-error dark:text-errorDark;
}
.Tender_Grid .status_Grid.state_Warning {
  @apply bg-warning bg-opacity-10;
}
.Tender_Grid .status_Grid.state_Warning .status_text {
  @apply text-warning;
}
.Tender_Grid .status_Grid.state_Primary {
  @apply bg-primary dark:bg-primaryDark bg-opacity-10 dark:bg-opacity-10;
}
.Tender_Grid .status_Grid.state_Primary .status_text {
  @apply text-primary dark:text-primaryDark;
}
.Tender_Grid .status_Grid.status_Card {
  @apply bg-primary dark:bg-primaryDark;
}
.Tender_Grid .status_Grid.status_Card .status_text {
  @apply text-bgColor;
}
.Tender_Grid .status_Grid_point {
  @apply gap-0.5;
}
.Tender_Grid .status_Grid_point .status_text {
  @apply text-gray-400 leading-normal text-[10px] font-bold uppercase
             text-ellipsis line-clamp-1 max-w-full text-center;
}
.Tender_Grid .status_Grid_point .status_point {
  @apply bg-gray-400 w-2 h-2 rounded-full hidden;
}
.Tender_Grid .status_Grid_point.state_Success .status_text {
  @apply text-success;
}
.Tender_Grid .status_Grid_point.state_Success .status_point {
  @apply bg-success;
}
.Tender_Grid .status_Grid_point.state_Error .status_text {
  @apply text-error dark:text-errorDark;
}
.Tender_Grid .status_Grid_point.state_Error .status_point {
  @apply bg-error dark:bg-errorDark;
}
.Tender_Grid .status_Grid_point.state_Warning .status_text {
  @apply text-warning;
}
.Tender_Grid .status_Grid_point.state_Warning .status_point {
  @apply bg-warning;
}
.Tender_Grid .status_Grid_point.state_Primary .status_text {
  @apply text-primary dark:text-primaryDark;
}
.Tender_Grid .status_Grid_point.state_Primary .status_point {
  @apply bg-primary dark:bg-primaryDark;
}
.Tender_Grid .status_Grid_point.status_Card .status_text {
  @apply text-bgColor;
}
.Tender_Grid .Dropdown_Grid {
  @apply relative inline-block;
}
.Tender_Grid .Dropdown_Grid .btn_Dropdown_Grid {
  @apply flex items-center justify-center text-sm font-medium;
}
.Tender_Grid .Dropdown_Grid .Menu_Dropdown_Grid {
  @apply absolute z-10 mt-2 bg-bgWhite dark:bg-bgWhiteDark rounded-md
             shadow-light dark:shadow-dark ring-1 ring-borderColor dark:ring-borderColorDark
             border border-borderColor dark:border-borderColorDark ring-opacity-5;
}
.Tender_Grid .Dropdown_Grid .Menu_Dropdown_Grid .MenuItem_Dropdown_Grid {
  @apply flex items-center rounded w-full font-normal px-3 py-1.5 text-sm
               text-titleColor hover:bg-bgColor
               dark:text-titleColorDark dark:hover:text-titleColorDark capitalize;
}
.Tender_Grid .Dropdown_Grid .Menu_Dropdown_Grid .MenuItem_Dropdown_Grid .icon {
  @apply w-4 h-4 me-2 text-center;
}
.Tender_Grid .Dropdown_Grid .Menu_Dropdown_Grid .MenuItem_Dropdown_Grid .icon svg {
  @apply w-full h-full;
}
.Tender_Grid .Selected_actions {
  @apply p-2 gap-1.5 min-w-20 min-h-10 rounded-[0.35rem] text-titleColor bg-bgWhite dark:bg-bgWhiteDark
           dark:text-titleColorDark;
}
.Tender_Grid .Selected_actions .total {
  @apply bg-titleColor text-bgColor dark:bg-titleColorDark dark:text-bgColorDark
             rounded-full w-4 h-4 text-[0.5rem] p-1;
}
.Tender_Grid .Mobile_Grid {
  @apply grid sm:grid-cols-2 grid-cols-1 gap-3;
}
.Tender_Grid .Mobile_Grid .Card_Grid {
  @apply p-3 text-sm flex font-medium bg-bgWhite dark:bg-bgWhiteDark
             shadow-light dark:shadow-dark rounded-lg;
}
.Tender_Grid .Mobile_Grid .Card_Grid .Container_Card {
  @apply flex flex-row flex-wrap gap-3 w-full;
}
.Tender_Grid .Mobile_Grid .Card_Grid .Container_Card.Container_Card_Action {
  @apply w-[calc(100%-1rem)];
}
.Tender_Grid .Mobile_Grid .Card_Grid .action_Card {
  @apply w-4 h-full text-titleColor dark:text-titleColorDark flex items-start justify-end;
}
.Tender_Grid .Mobile_Grid .Card_Grid .action_Card .icon_action {
  @apply mt-2;
}
.Tender_Grid .Mobile_Grid .Card_Grid .row_Card {
  @apply p-1;
}
.Tender_Grid .Mobile_Grid .Card_Grid .row_Card .title_Card {
  @apply text-textColor dark:text-textColorDark mb-1;
}
.Tender_Grid .Mobile_Grid .Card_Grid .row_Card .text_Card {
  @apply text-titleColor dark:text-titleColorDark;
}
.Tender_Grid .Mobile_Grid .Card_Grid .row_Card .text_Card.link {
  @apply text-primary dark:text-primaryDark font-semibold;
}
.Tender_Grid .Pagination_gird {
  @apply flex md:flex-row flex-col md:gap-2 gap-2 items-center justify-between;
}
.Tender_Grid .Pagination_gird.footer_Pagination {
  @apply bg-bgWhite dark:bg-bgWhiteDark rounded-md px-3 h-9 flex items-center;
}
.Tender_Grid .Pagination_gird .container_pagination {
  @apply text-start text-[11px] leading-none flex items-center h-9;
}
.Tender_Grid .Pagination_gird .container_pagination .total_pages {
  @apply flex items-center gap-0.5;
}
.Tender_Grid .Pagination_gird .arrow_Pagination {
  @apply hover:text-primary rtl:rotate-180 dark:hover:text-primaryDark text-titleColor dark:text-titleColorDark flex items-center justify-center h-7 w-7 rounded hover:bg-bgColor dark:hover:bg-bgColorDark transition-colors;
}
.Tender_Grid .Pagination_gird .arrow_Pagination.disabled {
  @apply opacity-40 cursor-not-allowed hover:bg-transparent;
}
.Tender_Grid .Pagination_gird.card_Pagination {
  @apply bg-bgWhite dark:bg-bgWhiteDark rounded-md px-2 py-1 h-8;
}
.Tender_Grid .Pagination_gird.card_Pagination .container_pagination {
  @apply text-[9px];
  line-height: normal;
}
.Tender_Grid .Pagination_gird.card_Pagination .container_pagination .total_pages {
  @apply flex-col h-6;
}
.Tender_Grid .Pagination_gird.card_Pagination .arrow_Pagination {
  @apply flex justify-center items-center h-6 w-6;
}
.Tender_Grid .Pagination_gird.card_Pagination .arrow_Pagination svg {
  @apply bg-bgColor dark:bg-bgColorDark p-1 rounded-md w-5 h-5;
}
.Tender_Grid .Pagination_gird.card_Pagination .arrow_Pagination.disabled svg {
  @apply bg-bgColor/60 dark:bg-bgColorDark/60 cursor-not-allowed;
}
.Tender_Grid .Scroll_Grid {
  @apply h-4 mb-2 overflow-hidden overflow-x-auto;
}

.circle_IconColumnSettings {
  @apply fill-bgWhite dark:fill-bgWhiteDark;
}/*# sourceMappingURL=Grid.css.map */