/* ===== Shared Helpers ===== */

.flex_center {
  @apply flex items-center justify-center;
}

/* ===== Shared Grid Blocks ===== */
%not_Data {
  @apply h-full flex flex-col gap-8 justify-center items-center;

  .icon {
    @apply w-48;
    svg {
      @apply w-full h-auto;
    }
  }

  .title {
    @apply text-primary dark:text-primaryDark font-semibold text-xl;
  }
}

%Rows_Data {
  @apply flex flex-nowrap flex-col;
}

%scrollable_container {
  @apply w-full h-max;
}

.input_Search_Grid.form-group_iconSearch {
  input {
    @apply border-0 min-h-10 rounded-lg;
  }
}

/* ===== Main Component ===== */
.Tender_Grid {
  @apply overflow-hidden;

  .grid_footer {
    @apply flex w-full flex-nowrap rounded-md;
  }

  /* ====   Normal Data Grid ==== */
  .data_Grid {
    @apply h-[22rem] xl:h-[28rem] 2xl:h-[32rem] overflow-hidden overflow-y-auto;

    .not_Data {
      @extend %not_Data;
    }
    .fixed_Data {
      @extend %Rows_Data;
    }
    .scrollable-container {
      @extend %scrollable_container;
    }
    .default_Data {
      @extend %Rows_Data;
      @apply min-w-full;
    }
  }

  /* ====   Selector Grid ==== */
  .data_Grid_Selector {
    @apply h-[calc(100vh-300px)] overflow-hidden overflow-y-auto;
  }

  /* ====  Custom Grid ==== */
  .data_Grid_custom {
    @apply h-[14.125rem] overflow-hidden overflow-y-auto;
  }

  /* ===== Header ===== */
  .header_Grid {
    @apply mb-0.5;
    .container_Header_Grid {
      @apply flex flex-nowrap bg-bgWhite dark:bg-bgWhiteDark rounded-md;
    }

    .scrollable_container {
      @apply w-full overflow-hidden relative;
    }

    .default_Columns {
      @apply flex min-w-full;
    }
  }

  .header_Item {
    @apply h-9 w-9 cursor-pointer transition-colors rounded-sm;
    &:hover {
      @apply bg-bgColor/30 dark:bg-bgColorDark/30;
    }
  }
  .row_Card_action_list,
  .header_Item,
  .row_Item {
    @apply h-9;
  }

  /* ===== Row + Header Items ===== */
  .header_Item,
  .row_Item {
    @extend .flex_center;
    @apply flex-nowrap px-1.5;
    &.justify_start {
      @apply justify-start;
    }
    &.row_Item_start {
      @apply justify-start;
    }

    .title_header {
      @apply text-textColor dark:text-textColorDark font-medium text-xs;
    }

    .text_row {
      @apply text-titleColor dark:text-titleColorDark text-ellipsis line-clamp-1 text-center text-xs;
      .link_Icon {
        @apply flex items-center gap-1.5 font-medium;
        &:hover {
          @apply text-primary dark:text-primaryDark;
          .icon_data {
            @apply text-primary dark:text-primaryDark;
          }
        }
      }

      .icon_data {
        @apply w-3.5 h-3.5 text-textColor dark:text-textColorDark;
        svg {
          @apply w-full h-full;
        }
      }
    }
  }

  .row_Card_action_list {
    @apply flex justify-end px-2 py-1 bg-bgWhite dark:bg-bgWhiteDark rounded-e-md mb-1 relative transition-colors;
    &.selected {
      @apply bg-primary dark:bg-primaryDark bg-opacity-20 dark:bg-opacity-20;
    }
    &:hover:not(.selected) {
      @apply bg-bgColor/50 dark:bg-bgColorDark/50;
    }
  }

  .row_Grid {
    @apply flex bg-bgWhite dark:bg-bgWhiteDark mb-1 transition-colors;
    &:hover {
      @apply bg-bgColor/30 dark:bg-bgColorDark/30;
    }
    .link_Icon {
      @apply flex gap-1.5 font-medium items-center text-titleColor dark:text-titleColorDark;
      .icon {
        @apply text-textColor dark:text-textColorDark w-4 h-4;
        svg {
          @apply w-full h-full;
        }
      }
      &:hover {
        @apply text-primary dark:text-primaryDark;
        .icon {
          @apply text-titleColor dark:text-titleColorDark;
        }
      }
    }
    .cell-avatar {
      @apply flex items-center gap-2;
      .cell-avatar__image {
        @apply w-7 h-7 bg-bgColor dark:bg-bgColorDark flex items-center justify-center rounded-full overflow-hidden p-0.5;
        .cell-avatar__fallback {
          @apply w-full h-full rounded-full flex items-center justify-center;
          .cell-avatar__initials {
            @apply text-[10px] font-semibold text-titleColor dark:text-titleColorDark;
          }
        }
      }
      .cell-avatar__content {
        @apply flex w-[calc(100%-36px)] flex-col items-start;
        .cell-avatar__title {
          @apply font-semibold text-titleColor text-xs dark:text-titleColorDark leading-tight;
        }
        .cell-avatar__subtitle {
          @apply text-textColor text-[10px] dark:text-textColorDark font-medium leading-tight;
        }
      }
      &:hover {
        .cell-avatar__content {
          .cell-avatar__title {
            @apply text-primary dark:text-primaryDark;
          }
          .cell-avatar__subtitle {
            @apply text-titleColor dark:text-titleColorDark;
          }
        }
      }
    }

    /* ===== Open New Tab Icon ===== */
    .icon_action_row {
      @apply flex w-8 justify-center items-center;

      svg {
        @apply w-4 h-4 text-textColor dark:text-textColorDark hover:text-primary dark:hover:text-primaryDark;
      }

      &.active svg {
        @apply text-primary dark:text-primaryDark;
      }
    }
    &.selected {
      @apply bg-primary dark:bg-primaryDark bg-opacity-25 dark:bg-opacity-25;
    }
  }

  /* ===== Status Grid ===== */
  .status_Grid {
    @extend .flex_center;
    @apply rounded bg-opacity-10 bg-gray-400 px-2 py-0.5;

    .status_text {
      @apply text-gray-400 leading-normal text-[10px] font-semibold uppercase
             text-ellipsis line-clamp-1 max-w-full text-center;
    }

    &.state_Success {
      @apply bg-success bg-opacity-10;
      .status_text {
        @apply text-success;
      }
    }

    &.state_Error {
      @apply bg-error dark:bg-errorDark bg-opacity-10 dark:bg-opacity-10;
      .status_text {
        @apply text-error dark:text-errorDark;
      }
    }

    &.state_Warning {
      @apply bg-warning bg-opacity-10;
      .status_text {
        @apply text-warning;
      }
    }

    &.state_Primary {
      @apply bg-primary dark:bg-primaryDark bg-opacity-10 dark:bg-opacity-10;
      .status_text {
        @apply text-primary dark:text-primaryDark;
      }
    }

    &.status_Card {
      @apply bg-primary dark:bg-primaryDark;
      .status_text {
        @apply text-bgColor;
      }
    }
  }

  /* ===== Status Grid Point ===== */
  .status_Grid_point {
    @extend .flex_center;
    @apply gap-0.5;

    .status_text {
      @apply text-gray-400 leading-normal text-[10px] font-bold uppercase
             text-ellipsis line-clamp-1 max-w-full text-center;
    }
    .status_point {
      @apply bg-gray-400 w-2 h-2 rounded-full hidden;
    }

    &.state_Success {
      .status_text {
        @apply text-success;
      }
      .status_point {
        @apply bg-success;
      }
    }

    &.state_Error {
      .status_text {
        @apply text-error dark:text-errorDark;
      }
      .status_point {
        @apply bg-error dark:bg-errorDark;
      }
    }

    &.state_Warning {
      .status_text {
        @apply text-warning;
      }
      .status_point {
        @apply bg-warning;
      }
    }

    &.state_Primary {
      .status_text {
        @apply text-primary dark:text-primaryDark;
      }
      .status_point {
        @apply bg-primary dark:bg-primaryDark;
      }
    }

    &.status_Card {
      .status_text {
        @apply text-bgColor;
      }
    }
  }

  /* ===== Dropdown ===== */
  .Dropdown_Grid {
    @apply relative inline-block;

    .btn_Dropdown_Grid {
      @apply flex items-center justify-center text-sm font-medium;
    }

    .Menu_Dropdown_Grid {
      @apply absolute z-10 mt-2 bg-bgWhite dark:bg-bgWhiteDark rounded-md
             shadow-light dark:shadow-dark ring-1 ring-borderColor dark:ring-borderColorDark
             border border-borderColor dark:border-borderColorDark ring-opacity-5;

      .MenuItem_Dropdown_Grid {
        @apply flex items-center rounded w-full font-normal px-3 py-1.5 text-sm
               text-titleColor hover:bg-bgColor  
               dark:text-titleColorDark dark:hover:text-titleColorDark capitalize;

        .icon {
          @apply w-4 h-4 me-2 text-center;

          svg {
            @apply w-full h-full;
          }
        }
      }
    }
  }

  /* ===== Selected Actions ===== */
  .Selected_actions {
    @apply p-2 gap-1.5 min-w-20 min-h-10 rounded-[0.35rem] text-titleColor bg-bgWhite dark:bg-bgWhiteDark
           dark:text-titleColorDark;

    .total {
      @extend .flex_center;
      @apply bg-titleColor text-bgColor dark:bg-titleColorDark dark:text-bgColorDark
             rounded-full w-4 h-4 text-[0.5rem] p-1;
    }
  }

  /* ===== Mobile Grid ===== */
  .Mobile_Grid {
    @apply grid sm:grid-cols-2 grid-cols-1 gap-3;

    .Card_Grid {
      @apply p-3 text-sm flex font-medium bg-bgWhite dark:bg-bgWhiteDark
             shadow-light dark:shadow-dark rounded-lg;

      .Container_Card {
        @apply flex flex-row flex-wrap gap-3 w-full;

        &.Container_Card_Action {
          @apply w-[calc(100%-1rem)];
        }
      }

      .action_Card {
        @apply w-4 h-full text-titleColor dark:text-titleColorDark flex items-start justify-end;

        .icon_action {
          @apply mt-2;
        }
      }

      .row_Card {
        @apply p-1;

        .title_Card {
          @apply text-textColor dark:text-textColorDark mb-1;
        }

        .text_Card {
          @apply text-titleColor dark:text-titleColorDark;

          &.link {
            @apply text-primary dark:text-primaryDark font-semibold;
          }
        }
      }
    }
  }

  /* ===== Pagination Grid ===== */
  .Pagination_gird {
    @apply flex md:flex-row flex-col md:gap-2 gap-2 items-center justify-between;
    
    &.footer_Pagination {
      @apply bg-bgWhite dark:bg-bgWhiteDark rounded-md px-3 h-9 flex items-center;
    }
    
    .container_pagination {
      @apply text-start text-[11px] leading-none flex items-center h-9;
      .total_pages {
        @apply flex items-center gap-0.5;
      }
    }
    
    .arrow_Pagination {
      @apply hover:text-primary rtl:rotate-180 dark:hover:text-primaryDark text-titleColor dark:text-titleColorDark flex items-center justify-center h-7 w-7 rounded hover:bg-bgColor dark:hover:bg-bgColorDark transition-colors;
      &.disabled {
        @apply opacity-40 cursor-not-allowed hover:bg-transparent;
      }
    }

    &.card_Pagination {
      @apply bg-bgWhite dark:bg-bgWhiteDark rounded-md px-2 py-1 h-8;
      .container_pagination {
        @apply text-[9px];
        line-height: normal;
        .total_pages {
          @apply flex-col h-6;
        }
      }
      .arrow_Pagination {
        @apply flex justify-center items-center h-6 w-6;
        svg {
          @apply bg-bgColor dark:bg-bgColorDark p-1 rounded-md w-5 h-5;
        }
        &.disabled {
          svg {
            @apply bg-bgColor/60 dark:bg-bgColorDark/60 cursor-not-allowed;
          }
        }
      }
    }
  }

  /* ===== Scroll Grid ===== */
  .Scroll_Grid {
    @apply h-4 mb-2 overflow-hidden overflow-x-auto;
  }
}

.circle_IconColumnSettings {
  @apply fill-bgWhite dark:fill-bgWhiteDark;
}
